.container {
  padding: 30px;
  box-shadow: 0 2px 4px #677889ff;
  border-radius: 4px;
  max-width: 500px;
}

.containerChild {
  margin-bottom: 20px;
}

.containerLabel {
  display: block;
  margin-bottom: 5px;
}

.containerInput {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #677889ff;
}
